<!DOCTYPE html>
<html>

<head>
  <title>Code Block Details</title>
<!-- Add the Highlight.js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>

<!-- Add the desired CSS theme for syntax highlighting -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css" rel="stylesheet">

</head>

<body>
  <h1>Code Block Details</h1>
  <div id="code-block">
    <h2>
      <%= codeBlock.title %>
    </h2>
    <pre>
    <code id="codeArea" rows="10" cols="80" contenteditable="true">
      <%= codeBlock.code %>
    </code>
  </pre>

  <script>
    hljs.highlightElement(document.getElementById("codeArea"), { language: "python" });
  </script>
  
  <!-- Add Socket.IO client library -->
    <script src="/socket.io/socket.io.js"></script>

    <script>

      // If isFirst, make the codeArea readonly
      if (<%= isFirst %>) {
        const codeArea = document.getElementById('codeArea');
        codeArea.setAttribute('contenteditable', false);
      }

      // Socket.IO connection
      const socket = io.connect();

      codeArea = document.getElementById('codeArea');

      // Listen for changes to the code
      codeArea.addEventListener('input', (event) => {
  // Send the code to the second user
  console.log(codeArea.textContent)
  socket.emit('code-change', codeArea.textContent);
});


      socket.on('code-change', (data) => {
        console.log('code-change in block');

        // Update the code in the first user's screen
        const codeArea = document.getElementById('codeArea');
        codeArea.value = data;
        var solution = <%- JSON.stringify(codeBlock.solution) %>;
        if (data == solution  )
         {
          var bigSmiley = '\uD83D\uDE04'; // Unicode for smiling face emoji
          codeArea.value = data+'/n       '+bigSmiley;
        }
      });


    </script>

  </div>
</body>

</html>