<!DOCTYPE html>
<html>

<head>
  <title>Code Block Details</title>
</head>

<body>
  <h1>Code Block Details</h1>
  <div id="code-block">
    <h2>
      <%= codeBlock.title %>
    </h2>
    <textarea class="python" id="codeArea" rows="10" cols="80">
      <%= codeBlock.code %>
  </textarea>

    <!-- Add Socket.IO client library -->
    <script src="/socket.io/socket.io.js"></script>

    <script>

      // If isFirst, make the codeArea readonly
      if (<%= isFirst %>) {
        const codeArea = document.getElementById('codeArea');
        codeArea.setAttribute('readonly', '');
      }

      // Socket.IO connection
      const socket = io.connect();

      codeArea = document.getElementById('codeArea');

      // Listen for changes to the code
      codeArea.addEventListener('input', (event) => {
        // Send the code to the second user
        socket.emit('code-change', codeArea.value);
      });

      socket.on('code-change', (data) => {
        // Update the code in the first user's screen
        const codeArea = document.getElementById('codeArea');
        codeArea.value = data;
      });


    </script>

  </div>
</body>

</html>